@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 400;
  src: url(/fonts/genei-m-gothic/400.woff2) format('woff2');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 500;
  src: url(/fonts/genei-m-gothic/500.woff2) format('woff2');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 600;
  src: url(/fonts/genei-m-gothic/600.woff2) format('woff2');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 700;
  src: url(/fonts/genei-m-gothic/700.woff2) format('woff2');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 800;
  src: url(/fonts/genei-m-gothic/800.woff2) format('woff2');
}