@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 400;
  src: url(/fonts/genei-m-gothic/GenEiMGothic_v1.0/GenEiMGothic-Regular.ttf) format('ttf');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 500;
  src: url(/fonts/genei-m-gothic/GenEiMGothic_v1.0/GenEiMGothic-Medium.ttf) format('ttf');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 600;
  src: url(/fonts/genei-m-gothic/GenEiMGothic_v1.0/GenEiMGothic-Bold.ttf) format('ttf');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 700;
  src: url(/fonts/genei-m-gothic/GenEiMGothic_v1.0/GenEiMGothic-Heavy.ttf) format('ttf');
}
@font-face {
  font-display: block;
  font-family: '源暎エムゴ';
  font-weight: 800;
  src: url(/fonts/genei-m-gothic/GenEiMGothic_v1.0/GenEiMGothic-Black.ttf) format('ttf');
}